.edit-content {
    display: flex;
    width: 100%;   
    height: 500px;
    justify-content: center;
    align-items: center;
}

.edit-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color: #141414;
    border-radius: 10px;
    gap: 20px;
}