body {
    background-image: url('/image/auth/background.jpg');
    width: 100%;
}

.auth-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.auth-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #fff;
    width: 491px;
    height: 340px;
    border-radius: 20px;
}

.custom input {
    width: 363px;
    height: 50px;
    background-color: #313131;
    border-radius: 10px;
}

.custom input::placeholder {
    padding-left: 25px;
}